<div class="container px-3 py-4">
  <h2 class="text-primary text-center">Consulta el precio de la Gasolina en tu region</h2>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-4">
      <div class="card p-2">
        <div class="card-title">
          <h4 class="text-center">Formulario</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="SearchGas()">
            <div class="form-group">
              <label for="estado">Seleccionar Estado</label>
              <select formControlName="state_id" class="form-control mt-1" id="estado">
                <option value="" disabled>Seleccionar ...</option>
                <option *ngFor="let state of states;" [value]="state.id">
                  {{state.name}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="municipio">Seleccionar Municipio</label>
              <select formControlName="cp"
                class="form-control mt-1" id="municipio">
                <option value="" disabled>Seleccionar ...</option>
                <option *ngFor="let municipality of municipalities;" [value]="municipality.cp">
                  {{municipality.cp}} - {{municipality.name}}
                </option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary float-end mt-4" >
              Consultar
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-sm-4 col-md-8 mt-md-0">
      <div class="row">
        <div #mapa class="mapa-container"></div>
      </div>
      <div class="row">
        <div class="col">
          <h4>{{gasolinas.length}} Resultados</h4>
          <table class="table table-striped table-responsive">
            <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>CP</th>
              <th>$Regular</th>
              <th>Premium</th>
              <th>Dieasel</th>
              <th>Dirección</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gasoline of gasolinas">
                <th scope="row">1</th>
                <th>{{gasoline.codigopostal}}</th>
                <td>
                  <span class="bg-success rounded text-white p-1">
                    {{gasoline.regular | currency}}
                  </span>
                </td>
                <td>
                  <span class="bg-danger rounded text-white p-1">
                      {{gasoline.premium | currency}}
                  </span>
                </td>
                <td>
                  <span class="bg-dark rounded text-white p-1">
                      {{(gasoline.dieasel | currency) || 'No info'}}
                  </span>
                </td>
                <td>{{gasoline.calle}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

